In [2]:
# se uso el conjunto de datos llamado "	AI4I 2020 Predictive Maintenance Dataset"
# datos sacados de "https://archive.ics.uci.edu/ml/machine-learning-databases/00601/"
import pandas as pd   # importando el paquete panda para poder hacer la lectura de datos
data="https://archive.ics.uci.edu/ml/machine-learning-databases/00601/ai4i2020.csv"
df= pd.read_csv(data, index_col="UDI")# leyendo los datos
df

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
UDI,,,,,,,,,,,,,
1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,M24855,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9997,H39410,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9998,M24857,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9999,H39412,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
10000,M24859,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [3]:
#Estadísticas de las variables cuantitativas
df.describe()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [4]:
#Orden de la data df de forma descendente de acuerdo a la variable Air temperature [K]
data= df.sort_values( "Air temperature [K]", ascending=False)  # se ordena de manera descendente
print('visualización  de los 5 primeros datos ordenados de mayor a menor de acuerdo a la variable Air temperature[K]')
print(data.head(5)) # mostrar solo las 5 primeras filas

visualización  de los 5 primeros datos ordenados de mayor a menor de acuerdo a la variable Air temperature[K]
     Product ID Type  Air temperature [K]  Process temperature [K]  \
UDI
5146     L52325    L                304.5                    313.7
5145     L52324    L                304.4                    313.7
5140     M19999    M                304.4                    313.6
5149     L52328    L                304.4                    313.6
5148     L52327    L                304.4                    313.6

      Rotational speed [rpm]  Torque [Nm]  Tool wear [min]  Machine failure  \
UDI
5146                    1670         32.9                7                0
5145                    1607         33.5                5                0
5140                    1510         38.9              199                0
5149                    1507         43.1               13                0
5148                    1569         38.4               11                0

      TWF  HDF  PWF  OSF  RNF
UDI
5146    0    0    0    0    0
5145    0    0    0    0    0
5140    0    0    0    0    0
5149    0    0    0    0    0
5148    0    0    0    0    0

In [5]:
#Porcentaje de cada tipo(L,M y H) de la variable "type" 
tipo= df['Type'] # de toda la data df solo se extrae la variable Type
Porcentaje_tipo=(tipo.value_counts()/len(tipo))*100   # la variable porcentaje_tipo  es el calculo del porcentaje
print('el porcentaje por el tipo(L,M y H) es:')
print(Porcentaje_tipo)

el porcentaje por el tipo(L,M y H) es:
L    60.00
M    29.97
H    10.03
Name: Type, dtype: float64

In [6]:
# Promedio de 'Air temperature [K]','Process temperature [K]','Torque [Nm]','Rotational speed [rpm]' y 'Tool wear [min]'
print('el promedio de las cinco variables cuantitativas elegidas son:')
df[['Air temperature [K]','Process temperature [K]','Torque [Nm]','Rotational speed [rpm]','Tool wear [min]']].mean()  # promedio de 5 variables

el promedio de las cinco variables cuantitativas elegidas son:

Air temperature [K]         300.00493
Process temperature [K]     310.00556
Torque [Nm]                  39.98691
Rotational speed [rpm]     1538.77610
Tool wear [min]             107.95100
dtype: float64